# Application Settings
ENVIRONMENT=development
DEBUG=true
OPENAI_API_KEY=your_openai_api_key_here
GOOGLE_API_KEY=you_google_api_key_here

# Image Cache Configuration
IMAGE_CACHE_ENABLED=true
HASH_THRESHOLD=22

# Database Settings
DATABASE_URL=postgresql://chatbotuser:chatbotpassword@postgres:5432/chatbotdb
POSTGRES_DB=chatbotdb
POSTGRES_USER=chatbotuser
POSTGRES_PASSWORD=chatbotpassword
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

#defteros API settings:
DEFTEROS_API_URL=https://defteros-service-admin-staging-47447659942.us-central1.run.app/api/v1

LOGFIRE_TOKEN=XXXXXX

CORS_ALLOWED_ORIGINS=["http://localhost:3000","http://localhost:8000"]
CORS_ALLOWED_METHODS=["GET","POST","DELETE","OPTIONS"]

#embeddings related: 
SYNC_EMBEDDINGS=false # make this 'true' if you running the application first time.
CLEANUP_EMBEDDINGS=false
CREATE_DEVICE_DOCS_EMBEDDINGS=false
SCRAP_CHATBOT_WEBSITE=false

SHOP_URL=https://example.com

# temp settings to fetch data from prod, use the same staging values in local:
EMBEDDINGS_DATABASE_URL=postgresql://chatbotuser:chatbotpassword@postgres:5432/chatbotdb
DEFTEROS_PROD_API_URL=https://defteros-service-admin-staging-47447659942.us-central1.run.app/api/v1

